# .env.local example
NEXT_PUBLIC_CONTRACT_ADDRESS="B62qs2NthDuxAT94tTFg6MtuaP1gaBxTZyNv9D3uQiQciy1VsaimNFT"
NEXT_PUBLIC_ZKCW_ENDPOINT="https://api.zkcloudworker.com/v1/"
NEXT_PUBLIC_ZKCW_AUTH="M6t4jtbBAFFXhLERHQWyEB9JA9xi4cWqmYduaCXtbrFjb7yaY7TyaXDunKDJNiUTBEcyUomNXJgC"
NEXT_PUBLIC_ZKCW_JWT="eyJh... get it at support@zkcloudworker.com"
NEXT_PUBLIC_PINATA_JWT="eyJh... get it at pinata.cloud"
NEXT_PUBLIC_IPFS_URL="https://api.pinata.cloud/pinning/pinFileToIPFS"
NEXT_PUBLIC_MINANFT_JWT="eyJh... get it at support@minanft.io"
NEXT_PUBLIC_CHAIN="devnet"